* {
  box-sizing: border-box;
  text-align: center;
}

header {
  height: 100px;
  border: 3px solid gray;
}

section {
  width: 33.333%;
  height: 200px;
  border: 3px solid violet;
  float: left;
}

.bigBottom {
  width: 50%;
  height: 400px;
  border: 3px solid green;
  float: left;
}

footer {
  height: 100px;
  border: 3px solid gray;
  clear: both;
}

@media screen and (max-width: 800px) {
  section {
    width: 100%;
    background-color: aquamarine;
  }
  .bigBottom {
    width: 100%;
    background-color: burlywood;
    height: 200px;
  }
}
