* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 1px solid gray;
  background-color: beige;
  clear: both;
}

section {
  width: 20%;
  height: 500px;
  border: 1px solid black;
  background: blanchedalmond;
  float: left;
}

.section-two {
  width: 40%;
  background: rgb(230, 212, 186);
}

@media screen and (max-width: 600px) {
  section {
    background-color: green;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  section,
  .section-two {
    background: blue;
    margin: 20px 0;
    width: 100%;
  }
}
