* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Playfair Display", serif;
}
nav {
  padding: 1% 4%;
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
nav a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 14px;
  text-transform: uppercase;
}
nav a:hover {
  color: #d87c7e;
}
nav li {
  list-style: none;
}
.logo {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-transform: capitalize;
}
main {
  background-image: url(./assets/hair.jpg);
  height: 100vh;
}
h1 {
  padding: 10% 0 2% 10%;
  font-size: 90px;
  color: #fff;
  font-weight: 300;
}
main p {
  color: #fff;
  font-size: 20px;
  padding-left: 10%;
}
.our_services_btn {
  padding: 20px 40px;
  background-color: #1e1e1e;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 2% 0 0 10%;
}
.our_services_btn:hover {
  color: #d87c7e;
}
.visit {
  margin: 5% 0 0 10%;
  width: 280px;
  height: 300px;
  background-color: #1e1e1e;
}
h5 {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 50px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}
.visit p {
  font-size: 14px;
  padding-left: 50px;
  line-height: 240%;
  display: inline-block;
}
.sale {
  font-size: 40px;
  font-weight: 700;
}
.our_services_btn_white {
  display: inline-block;
  margin-top: 40px;
  margin-left: 50px;
  padding: 15px 30px;
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  color: #1e1e1e;
}
.our_services_btn_white:hover {
  color: #d87c7e;
}
/* *************************** */
/* Services Section */
.services {
  background-color: #fff;
  display: flex;
  text-align: center;
  padding: 100px;
}
div img {
  display: block;
  margin: 50px auto;
}
h2 {
  display: inline-block;
}
.services p {
  color: #1e1e1e;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  line-height: 180%;
}
/* *************************** */
/* Momentum Section */
.momentum {
  background-color: rgb(238, 235, 235);
  display: flex;
  padding: 100px;
}
.make_momentum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 90px;
}
.make_momentum p {
  display: inline-block;
  width: 80%;
  color: #1e1e1e;
  line-height: 150%;
}
h3 {
  font-weight: 400;
  font-size: 50px;
}
.make_momentum .our_services_btn {
  margin: 40px auto;
}
