<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Login Todo List</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: "Poppins", sans-serif;
        background-color: rgb(238, 216, 186);
      }

      .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 40px;
        width: 300px;
      }

      /* Style for the form */

      input[type="email"],
      input[type="password"] {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        font-size: 16px;
      }

      /* Style for the Login and Back buttons */
      input[type="submit"],
      a.back-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      input[type="submit"]:hover,
      a.back-button:hover {
        background-color: #0069d9;
      }

      a.back-button {
        margin-left: 10px;
        padding: 7px 20px;
        background-color: #007bff;
        text-decoration: none;
      }

      a.back-button:hover {
        background-color: #0069d9;
      }

      /* Style for the alert messages */
      .alert {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .alert-danger {
        background-color: #dc3545;
      }

      .alert-info {
        background-color: #17a2b8;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %>
      <h4>Enter your login informations</h4>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" class="submit-button" />
        <a href="/" class="back-button">Back</a>
      </form>
    </div>
  </body>
</html>
