/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
h1,
h2 {
  text-align: center;
}
img {
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul {
  width: 100px;
  height: 265px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li {
  width: 94px;
  height: 65px;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
#purple {
  background: rgb(123, 16, 126);
}
#green {
  background: rgb(20, 118, 51);
}
#blue {
  background: rgb(0, 191, 255);
}
#yellow {
  background: rgb(220, 212, 57);
}
