/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  width: 80%;
  height: 80%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
