* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
}
/* ********************** */
/* MAIN */
main {
  background: rgb(23, 25, 37);
  height: 100vh;
  padding: 2% 3%;
  color: white;
}
.logo {
  float: left;
  margin-right: 42%;
}
.home {
  color: white;
}
main ul a {
  text-decoration: none;
  color: rgb(93, 102, 121);
  margin-left: 30px;
}
main ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}
.btn {
  padding: 10px 30px;
  border-radius: 10px;
  background: rgb(53, 58, 69);
  margin-left: 4.5%;
  color: white;
}
h1 {
  color: white;
  font-size: 60px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
}
main section {
  margin-top: 10%;
  width: 50%;
  float: left;
}
main section p {
  font-size: 20px;
  color: rgb(93, 102, 121);
  line-height: 150%;
  width: 68%;
  margin-bottom: 100px;
}
.main-img {
  width: 100%;
  border-radius: 20px;
}
.order-btn {
  color: rgb(23, 25, 37);
  text-decoration: none;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
  margin-right: 50px;
}
.create-btn {
  color: white;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.create-btn span {
  margin-right: 20px;
  color: rgb(93, 102, 121);
  font-size: 20px;
}
/* ********************** */
/* Social Section */
.social-logo {
  padding: 2% 3%;
  background-color: #f8f9fb;
  height: 150px;
  padding-bottom: 200px;
}
.social-logo img {
  width: 70%;
  float: right;
  background-position: cover;
  /* margin-top: 50px; */
}
/* ********************** */
/* SOCIAL Section */
section > .social-content,
.social-boxes {
  height: 1000px;
}
.social-content {
  padding: 2% 3%;
  background-color: #f8f9fb;
  width: 50%;
  color: rgb(23, 25, 37);
  float: left;
}
h5 {
  color: rgb(93, 102, 121);
  padding-bottom: 20px;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
.social-content p {
  padding-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
}
.order-btn-white {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: rgb(23, 25, 37);
  text-transform: uppercase;
  display: inline-block;
  margin-top: 100px;
}
.social-boxes {
  background-color: #f8f9fb;
}
.social-boxes img {
  margin-left: 7%;
}
/* ********************** */
/* Solution Section */
.third-section {
  padding: 2% 3%;
  background-color: #f8f9fb;
  height: 800px;
}
.third-section-img {
  float: left;
  width: 50%;
}
.solution p {
  padding-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
}
/* ********************** */
/* Fourth Section */
.fourth-section {
  background-color: #f8f9fb;
  text-align: center;
}
.fourth-section h3 {
  font-size: 42px;
  color: rgb(23, 25, 37);
  padding: 100px 0 30px 0;
  font-weight: 300;
}
.fourth-section p {
  width: 60%;
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 100px;
}
#checkbox {
  margin-top: 50px;
  width: 40px;
  height: 40px;
}
#checkbox + p {
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 500;
}
span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: rgb(93, 102, 121);
}
.right,
.left {
  margin-top: 100px;
  width: 50px;
}
.left {
  margin-right: 20px;
}
